<div class="container Login_Container" >
  <div class="card card_shadow p-3">
      <h2 class="m-1 p-1">Customer Portal Login</h2>
      <div class="m-1 p-1">
          <label class="form-label"><b>Username</b></label>
          <input placeholder="Username" class="form-control" >
      </div>
      <div class="m-1 p-1">
          <label class="form-label"><b>Password</b></label>
          <input placeholder="Password" type="password" class="form-control">
          
      </div>
      <div class="me-2 pe-2">
          <button type="button" class="btn btn-primary float_end_button w-25">Sign
              In</button>
      </div>
      <div class="m-1 p-1">
          <a class="text-primary">Forgot Your Password?</a>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
